.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.body {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-color: #000;
  font-family: Montserrat, sans-serif;
}

.section {
  width: 100%;
  min-height: 728px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 3%;
  padding-left: 3%;
}

.section.one {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 85px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.section.two {
  position: relative;
  z-index: 3;
  min-height: 0px;
  padding-top: 136px;
  padding-bottom: 134px;
  padding-left: 3%;
  color: #fff;
}

.section.three {
  position: relative;
  z-index: 3;
  min-height: 0px;
  padding-top: 38px;
  padding-bottom: 39px;
  border-top: 1px solid rgba(95, 255, 236, 0.1);
  background-color: rgba(95, 255, 236, 0.08);
  color: #fff;
}

.nav-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  width: 100%;
  max-width: 1391px;
  margin-right: auto;
  margin-left: auto;
  padding: 34px 3% 35px;
  border-bottom: 1px solid rgba(95, 255, 236, 0.29);
  background-color: transparent;
  color: #fff;
}

.brand {
  width: 100%;
  max-width: 225px;
}

.nav-link {
  color: #fff;
  font-weight: 700;
  white-space: nowrap;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 41px;
  max-width: 167px;
  min-width: 167px;
  margin-left: 23px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 45px;
  background-color: rgba(0, 175, 231, 0.74);
  font-family: 'Open Sans', sans-serif;
  color: #000;
  line-height: 14px;
  font-weight: 700;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.container.center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container._1391 {
  height: 100%;
  max-width: 1391px;
}

.heading {
  margin-top: 0px;
  margin-bottom: 21px;
  font-family: Jura, sans-serif;
  color: #7fffff;
  font-size: 56px;
  line-height: 60px;
  font-weight: 600;
}

.heading._24 {
  display: inline-block;
  margin-bottom: 0px;
  padding-bottom: 23px;
  border-bottom: 9px solid #fff;
  color: #fff;
  font-size: 36px;
  line-height: 44px;
  font-weight: 500;
}

.heading._24.road-map {
  padding-right: 42px;
}

.text-block {
  margin-bottom: 49px;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}

.button-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70px;
  max-width: 244px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 45px;
  background-color: rgba(95, 255, 236, 0.13);
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
}

.head-and-text-wrap {
  margin-bottom: 154px;
}

.head-and-text-wrap._167 {
  margin-bottom: 167px;
}

.grid {
  margin-right: auto;
  margin-bottom: 159px;
  margin-left: auto;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.cards {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 250px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.cards._346 {
  max-width: 346px;
}

.cards._30 {
  top: -27px;
}

._w-87 {
  width: 100%;
  max-width: 87px;
  margin-bottom: 52px;
  color: #7fffff;
}

._w-87._86 {
  height: 69px;
  max-width: 86px;
  margin-bottom: 35px;
}

._w-87._99 {
  max-height: 99px;
  max-width: 99px;
  margin-bottom: 15px;
}

.text-block-2 {
  margin-bottom: 30px;
  color: #7fffff;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  text-align: center;
}

.text-block-2._5 {
  margin-bottom: 15px;
}

.para {
  position: static;
  margin-bottom: 0px;
  line-height: 17px;
  font-weight: 600;
  text-align: center;
}

.para._346 {
  width: 100%;
  max-width: 346px;
}

.roadmap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.line-big {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 3px;
  max-height: 3px;
  max-width: 1224px;
  margin-right: auto;
  margin-left: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.dot-1 {
  width: 17px;
  height: 17px;
  max-height: 17px;
  max-width: 17px;
  min-height: 17px;
  min-width: 17px;
  border: 3px solid #d9d9d9;
  border-radius: 50%;
  background-color: #fff;
}

.dot-2 {
  width: 17px;
  height: 17px;
  max-height: 17px;
  max-width: 17px;
  min-height: 17px;
  min-width: 17px;
  border: 3px solid #d9d9d9;
  border-radius: 50%;
  background-color: #fff;
}

.dot-3 {
  width: 17px;
  height: 17px;
  max-height: 17px;
  max-width: 17px;
  min-height: 17px;
  min-width: 17px;
  border: 3px solid #d9d9d9;
  border-radius: 50%;
  background-color: #fff;
}

.dot-4 {
  width: 17px;
  height: 17px;
  max-height: 17px;
  max-width: 17px;
  min-height: 17px;
  min-width: 17px;
  border: 3px solid #d9d9d9;
  border-radius: 50%;
  background-color: #fff;
}

.rad-text-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1384px;
  margin-top: 55px;
  margin-right: auto;
  margin-left: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.road--one {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 250px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.road--one._165 {
  max-width: 165px;
}

.road--one._240 {
  max-width: 225px;
}

.road--one._260 {
  max-width: 260px;
}

._24px {
  margin-top: 0px;
  margin-bottom: 24px;
  color: #7fffff;
  font-size: 24px;
  line-height: 29px;
}

._14px {
  margin-bottom: 24px;
  line-height: 17px;
  font-weight: 500;
}

._14px._10 {
  margin-bottom: 10px;
  opacity: 1;
}

._14px._0 {
  margin-bottom: 0px;
}

.background-video {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.video-wrap {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  max-width: 1600px;
}

.div-block {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
}

.parent-wrap {
  width: 100%;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}

.left-three {
  position: static;
  top: 21px;
  max-width: 220px;
}

._225px.w--current {
  width: 100%;
  max-width: 225px;
}

.link {
  display: block;
  margin-bottom: 10px;
  color: #fff;
  line-height: 17px;
  font-weight: 600;
  text-decoration: none;
}

.link-block {
  margin-right: 12px;
  margin-bottom: 21px;
  margin-left: 12px;
}

.image {
  opacity: 1;
}

@media screen and (min-width: 1440px) {
  .section.one {
    padding-left: 121px;
  }

  .section.two {
    padding-left: 121px;
  }

  .cards._30 {
    top: -20px;
  }

  .line-big {
    max-width: 1111px;
  }

  .rad-text-wrap {
    max-width: 1240px;
  }
}

@media screen and (max-width: 991px) {
  .section.one {
    padding-bottom: 60px;
  }

  .section.two {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .nav-link {
    text-align: center;
  }

  .nav-menu {
    padding-bottom: 40px;
    background-color: transparent;
  }

  .button {
    margin-right: auto;
    margin-left: auto;
  }

  .container.center {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .head-and-text-wrap {
    margin-bottom: 100px;
  }

  .cards._30 {
    top: -25px;
  }

  ._14px._10 {
    margin-top: 60px;
  }

  .menu-button {
    padding: 10px;
    background-color: transparent;
  }

  .menu-button.w--open {
    padding: 10px;
    background-color: transparent;
  }

  .line {
    width: 50px;
    height: 3px;
    max-height: 3px;
    max-width: 50px;
    min-height: 3px;
    min-width: 50px;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-color: #000;
  }
}

@media screen and (max-width: 767px) {
  .container.center {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .cards._30 {
    top: 0px;
  }

  .roadmap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .line-big {
    width: 3px;
    height: 100%;
    max-height: 100%;
    max-width: 3px;
    min-height: 90vh;
    margin-right: auto;
    margin-left: auto;
  }

  .dot-1 {
    position: absolute;
    left: -8px;
    top: 0%;
    right: auto;
    bottom: auto;
  }

  .dot-2 {
    position: absolute;
    left: -8px;
    top: 25%;
    right: 0%;
    bottom: auto;
  }

  .dot-3 {
    position: absolute;
    left: -8px;
    top: auto;
    right: 0%;
    bottom: 0%;
  }

  .dot-4 {
    position: absolute;
    left: -8px;
    top: auto;
    right: 0%;
    bottom: 34%;
  }

  .rad-text-wrap {
    width: 60%;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .road--one {
    margin-bottom: 30px;
  }

  .menu-button {
    padding: 10px;
  }
}

@media screen and (max-width: 479px) {
  .navbar {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .brand.w--current {
    max-width: 150px;
  }

  .container.center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .heading {
    font-size: 42px;
    line-height: 54px;
  }

  .grid {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .roadmap {
    max-width: 400px;
  }

  .line-big {
    min-height: 730px;
  }

  .rad-text-wrap {
    width: 85%;
  }

  ._14px._10 {
    margin-top: 30px;
  }

  .line {
    width: 30px;
    max-width: 30px;
    min-width: 30px;
  }

  .left-two {
    width: 100%;
    margin-bottom: 30px;
  }

  .left-three {
    position: static;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  ._225px.w--current {
    margin-bottom: 30px;
  }

  .link {
    text-align: center;
  }
}

#w-node-f6f36565-d245-e8ef-4f8d-14fc3d04c1ac-fa83f1e3 {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-d2ade3af-eaba-4a97-5d4f-a50d3439cec2-fa83f1e3 {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-fbd47455-98d5-8df6-b08c-22c5a06926c5-fa83f1e3 {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

